/*body background to aliceblue*/
body {
    background-color: aliceblue;
}

nav {
    color: rgb(230, 148, 40);
    text-align: center;
    text-decoration: overline #808000 5px;
}

h1 {
    color: hsla(30, 100%, 50%, 0.6);
}