/*body background to aliceblue*/
* {
    background-color: aliceblue;
}

nav {
    color: rgb(230, 148, 40);
    text-align: center;
    text-decoration: overline #808000 5px;
}

h1 {
    color: hsla(100, 79%, 22%, 0.6);
    position: sticky;
    top: 20px;
    background-color: lightgrey;
    border: 4px solid color(display-p3 1 0.5 0 / 0.5);
}

p:hover {

    border-style: groove;
    border-color: color-mix(in srgb, #34c9eb 20%, white);
    border-width: 0.5em;
    border-radius: 20px;

    padding-top: 4px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 0px;

    margin: 20px 30px 30px 23px;

}

.qcc {
    display: grid;
    color: purple;
}

.submit {
    width: 10ex;
    height: 5em;
    background-color: red;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.submit:active {
    box-shadow: 2px 2px 5px #fc894d;
}

h3 {
    
}